<div class="container">
  <div class="row">
    <p>{{ description }}</p>
    <p class="pull-right"><a href="{{ link }}" target="_blank">{{ 'Original link'|t }}</a></p>
    <p><a href="/" class="btn btn-primary">{{ 'Back'|t }}</a></p>
  </div>
</div>